@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ugens menu</h1>
</div>


<table>
    <tr>
        <th>Dag:</th>
        <th>Varm ret:</th>
        <th>Kold ret:</th>
    </tr>
    <tr>
        <td>Mandag</td>
        <td>Lassagne</td>
        <td>Salat</td>
    </tr>
    <tr>
        <td>Tirsdag</td>
        <td>Frikadeller og kartofler</td>
        <td>Rugbrød</td>
    </tr>
    <tr>
        <td>Onsdag</td>
        <td>Pasta carbonara</td>
        <td>Pastasalat</td>
    </tr>
    <tr>
        <td>Torsdag</td>
        <td>Stegt flæsk med persillesovs</td>
        <td>Salat</td>
    </tr>
    <tr>
        <td>Fredag</td>
        <td>Burger</td>
        <td>Rugbrød</td>
    </tr>
</table>
